<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addTimer()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-home" (ionScroll)="onScroll($event)">
  <div>
    <ion-card *ngFor="let time of timerArray; let i = index">
      <ion-card-header>
        <label>{{time.name}}</label>
        <button ion-button large block clear class="timer-button x-large">{{time.showTime}}</button>
        <!-- <button ion-button *ngIf="!secondsString || secondsString == 0" large block clear class="timer-button">Timer set up incorrectly</button> -->
      </ion-card-header>
      <button ion-button (click)="deleteTimer(i)">Delete</button>
      <button ion-button *ngIf="time.timeOut" (click)="deleteTimer(i)">Acknowledge</button>
    </ion-card>
  </div>
  <!-- <div *ngIf="extraTimer" class="or-label">
    History
  </div> -->
  <ion-grid *ngIf="extraTimer" class="product-detail-title">
    <ion-row>
      <ion-col col-12>
        <h3>Previous Timer
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-card *ngFor="let time of extraTimer; let i = index">
      <ion-card-header>
        <label>{{time.name}}</label>
        <button ion-button large block clear class="timer-button x-large">{{time.setTime | date: "yyyy/MM/dd HH:mm:ss"}}</button>
        <!-- <button ion-button *ngIf="!secondsString || secondsString == 0" large block clear class="timer-button">Timer set up incorrectly</button> -->
      </ion-card-header>
      <!-- <button ion-button (click)="deleteTimer(i)">Delete</button>
      <button ion-button *ngIf="time.timeOut" (click)="deleteTimer(i)">Acknowledge</button> -->
    </ion-card>
  </div>
  <!-- <button (click)="enableLocation()" ion-button large block clear class="timer-button x-large">show</button> -->
</ion-content>
<ion-footer>
  <footer></footer>
</ion-footer>